[Unit]
Description=Run Pricing Service Expertise Sync every 5 minutes with 2-minute offset

[Timer]
OnCalendar=*:02,07,12,17,22,27,32,37,42,47,52,57
Persistent=true
AccuracySec=1m
Unit=pricing-expertise-sync.service

[Install]
WantedBy=timers.target
